.text_MarkTime {
  background-color: crimson;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px auto;
  text-align: center;
  border-radius: 6px;
}

.timeinlypyny {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-top: 15px;
}

.timeinlypyny span {
  font-size: 16px;
  display: inline;
}

.time {
  margin: 30px auto;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 600px) {
  .text_MarkTime {
    max-width: 150px;
    font-size: 14px;
  }

  .timeinlypyny {
    font-size: 16px;
  }

  .timeinlypyny span {
    font-size: 14px;
  }

  .time {
    font-size: 36px;
    margin: 20px auto;
  }
}
